server {
    listen 80;

    location / {
        proxy_pass             ${SPACES_FRONTEND_ORIGIN}/;
        proxy_ssl_server_name  on;
        proxy_intercept_errors on;
        error_page 404 =200 /index.html;
    }
}
